<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section
        name="FelandilCircuitBreaker"
        type="Felandil.CircuitBreaker.Configuration.CircuitBreakerConfigurationSection, Felandil.CircuitBreaker" />
  </configSections>

  <FelandilCircuitBreaker>
    <Commands>
      <add name="Default" successThreshold="100" failureThreshold="110" openTime="01:12:55" />
      <add name="ExistantCommand" successThreshold="200" failureThreshold="210" openTime="02:14:59" />
    </Commands>
  </FelandilCircuitBreaker>
</configuration>