<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="FelandilCircuitBreaker"
      type="Felandil.CircuitBreaker.Configuration.CircuitBreakerConfigurationSection, Felandil.CircuitBreaker" />
  </configSections>

  <FelandilCircuitBreaker>
    <Commands>
      <add name="Default" successThreshold="100" failureThreshold="110" openTime="00:30:00" />
      <add name="GeocodingCircuitBreakerCommand" successThreshold="100" failureThreshold="100" openTime="00:00:10" />
    </Commands>
  </FelandilCircuitBreaker>
</configuration>